@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('~/assets/fonts/Poppings-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/Poppings-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  src: url('~/assets/fonts/Poppings-ExtraBold.ttf') format('ttf');
}
